// src/components/Footer.scss
.footer {
    background-color: #66b3ff; // Set a blue background color
    color: #fff; // White text color for contrast
    text-align: center;
    padding: 15px 0; // Slightly increased padding for better spacing
    width: 100%; // Full width
}
